#body{
    background-color: cornflowerblue;
    background-size: cover;
    width: 100%;
    
}
/*display the meinfo element inline and remove the dots*/
#meinfo{
    list-style-type: none;
    opacity: 70%;
    text-align: center;
    
    
}
#meinfolist{
    display: inline-block;
    padding: 30px;
    border: 1pt aqua solid;
    background-color: beige;
    border-radius: 5px;
    font-weight: bold;
    font-size: 22px;
}
a{
    text-decoration: none;
}
/*when you hover round the link it will turn red*/
a:hover{
    color: red;
}
/*when you visit the link it turns blue*/
 a:active{
    color:green;
}

img{
    border-radius: 50px;
    opacity: 90%;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
h1{
    margin-left: 30px;
    font-weight: bolder;
    font-size: 2em;
    
}
#me{
    display: block;
    text-align: center;
    font-weight: bolder;
    font-style: oblique;
    text-shadow: silver;
    font-size: 1.5em;
}
#footer{
    text-align: center;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  

/*this css designs the about me page*/
body{
    background-color: cornsilk;
}

